# Writing data to and reading data from a Database using Python

## Libraries and settings

In [1]:
# Libraries
import os
import sqlite3
import fnmatch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

## Create sqlite data base

In [2]:
# Get current working directory
print(os.getcwd())

# Create data base
conn = sqlite3.connect('supermarkets_database.db') 
cursor = conn.cursor()

# Show dbs in the directory
flist = fnmatch.filter(os.listdir('.'), '*.db')
for i in flist:
    print(i)

/Users/miroduman/Desktop/data analytics/Woche_2
supermarkets_database.db

## Create SQL-table in the database

In [3]:
cursor.execute('''CREATE TABLE IF NOT EXISTS supermarkets_table (id VARCHAR(50),
                                                                lat FLOAT(8),
                                                                lon FLOAT(8),
                                                                brand VARCHAR(50),
                                                                addr_city VARCHAR(50))''')
# Confirm changes to the table
conn.commit()

## Read data from file to data frame

In [4]:
df = pd.read_csv('supermarkets_data_prepared.csv', 
                  sep=',', 
                  encoding='utf-8')[['id', 'lat', 'lon', 'brand', 'addr_city']]
print(df.shape)
df.head(5)

(3260, 5)

         id        lat       lon   brand addr_city
0  33126515  47.155616  9.037915    Spar       NaN
1  36726161  47.226191  8.980329  Migros    Uznach
2  39768209  47.225069  8.969981    Coop    Uznach
3  39947904  47.376732  8.542161    Coop    Z端rich
4  48932835  47.375020  8.522895  Migros    Z端rich

## Write data to the SQL-table in data base

In [5]:
df.to_sql(name = 'supermarkets_table',
          con = conn,
          index = False,
          if_exists = 'replace')

3260

## Query the SQL-table

In [6]:
# Query the SQL-table
cursor.execute('''SELECT * FROM supermarkets_table 
                  WHERE addr_city ='Winterthur' ''')

df = pd.DataFrame(cursor.fetchall(), 
                  columns=['id','lat','lon','brand', 'addr_city'])    
print(df)

conn.close()

            id        lat       lon          brand   addr_city
0     70656488  47.491874  8.706448         Migros  Winterthur
1    246533376  47.518953  8.720071         Migros  Winterthur
2    412728339  47.506449  8.713415           None  Winterthur
3    548919417  47.506863  8.712208         Migros  Winterthur
4    677194765  47.503208  8.752131           None  Winterthur
5    706203439  47.500848  8.725938           None  Winterthur
6    709022324  47.498421  8.729118           None  Winterthur
7   1328945987  47.485289  8.762742         Migros  Winterthur
8   1519474175  47.485171  8.763196         Denner  Winterthur
9   3831772784  47.499163  8.721153         Migros  Winterthur
10  4058248551  47.500117  8.731930         Migros  Winterthur
11  4095400178  47.501547  8.747051           None  Winterthur
12  4095400190  47.497901  8.724756           ALDI  Winterthur
13  4109460421  47.501010  8.722078           None  Winterthur
14  4125136758  47.500732  8.720169           None  Winterthur
15  4189897383  47.491100  8.705538           None  Winterthur
16  4209642918  47.486090  8.704346           None  Winterthur
17  4379763119  47.496739  8.753231       Alnatura  Winterthur
18  4471606841  47.504229  8.771731         Migros  Winterthur
19  4816412575  47.510705  8.693819         Migros  Winterthur
20  4978196565  47.496801  8.746607           None  Winterthur
21  7418113614  47.495386  8.758292           Coop  Winterthur
22  7685095602  47.496109  8.750634  Migros-Outlet  Winterthur
23  8519878942  47.507437  8.754705           None  Winterthur
24  9040336565  47.477343  8.699297         Migros  Winterthur
25  9040336566  47.477427  8.699380         Denner  Winterthur

### Jupyter notebook --footer info-- (please always provide this at the end of each submitted notebook)

In [7]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
POSIX
Darwin | 21.6.0
Datetime: 2022-09-30 16:53:13
Python Version: 3.9.13
-----------------------------------